<div class="scheme" id="schemeOfWork">
  <h2 class="scheme-h2">Схема работы</h2>
  <div class="scheme-center">
    <p class="scheme-num-p">01</p>
    <h3 class="scheme-h3">Заявка</h3>
    <p class="scheme-p">Принимаем от вас заявку
      и согласовываем время приезда наших специалистов</p>
    <p class="scheme-num-p">02</p>
    <h3 class="scheme-h3">Диагностика и расчет</h3>
    <p class="scheme-p">Производим диагностику
      на месте нахождения техники, после чего составляем предварительный расчет стоимости работ, запасных
      частей и материалов</p>
    <p class="scheme-num-p">03</p>
    <h3 class="scheme-h3">Договор</h3>
    <p class="scheme-p">После согласования расчета заключаем договор, где утверждаем порядок расчетов
      и сроки проведения работ</p>
  </div>
  <div class="scheme-right">
    <p class="scheme-num-p">04</p>
    <h3 class="scheme-h3">Работа</h3>
    <p class="scheme-p">Приступаем к работе.
      По окончании совместно осуществляем проверку результатов проведенных работ</p>
    <p class="scheme-num-p">05</p>
    <h3 class="scheme-h3">Документация</h3>
    <p class="scheme-p">После принятия работы Заказчиком, обмениваемся
      всеми необходимыми
      для бухгалтерского учета документами</p>
  </div>
</div>
