<footer id="contacts">
  <h2 class="footer-h2">Контакты</h2>
  <div class="footer-center-block">
    <p class="footer-mail">info@ac-don.ru</p>
    <p class="footer-phone">+7 (918) 560-02-71</p>
    <p class="footer-p">Донец Сергей Николаевич <span class="footer-span">Руководитель подразделения</span>
    <p class="footer-p">344019, г. Ростов-на-Дону ул. 13-я Линия, д.34</p>
  </div>
  <div class="footer-right-block">
    <ul class="nav-footer">
      <li class="nav-footer-item"><a class="nav-footer-link" (click)="scrollToHome()" pageScroll href="#home">Главная</a></li>
      <li class="nav-footer-item"><a class="nav-footer-link" (click)="scrollToAreaOfWork()" pageScroll href="#areaOfWork">Направления работ</a></li>
      <li class="nav-footer-item"><a class="nav-footer-link" (click)="scrollToOurService()" pageScroll href="#ourService">Наши услуги</a></li>
      <li class="nav-footer-item"><a class="nav-footer-link" (click)="scrollToSchemeOfWork()" pageScroll href="#schemeOfWork">Схема работы</a></li>
      <li class="nav-footer-item"><a class="nav-footer-link" id = "redPromo" (click)="scrollToPromo()" pageScroll href="#promo">Акции</a></li>
    </ul>
    <p class="footer-copyright">© 2020 Донтехцентр. Все права защищены.</p>
  </div>
</footer>
