<div class="block">
    <div class="block_string">
      <img class="img-card" src="/assets/img/agriculture-10-1467946.jpg" alt="Picture one">
      <img class="img-card" src="/assets/img/agriculture-orange-1467946.jpg" alt="Picture two">
    </div>
    <div class="block_string">
      <img class="img-card" src="/assets/img/the-yachts-1550637%201.jpg" alt="Picture three">
      <img class="img-card" src="/assets/img/blue-silver-black-car-engine-65623%201.jpg" alt="Picture four">
    </div>
    <div class="block__title">
      <img  class="block__img" src="/assets/img/logo.png">
      <div class="block__h1">
        <span class="greenAgri">Agri</span>, <span class="redConstruction">Construction</span>
        <br>& <span class="blueMarine">Marine</span>
      </div>
      <div class="block__p">+7 (918) 560-02-71</div>
    </div>
</div>
