<div class="area-work" id="areaOfWork">
  <div class="area-work-left">
    <h2 class="area-work-h2">Направления работ</h2>
    <p class="area-work-left-p ">Диагностика, ремонт и обслуживание техники различных типов.</p>
  </div>
  <div class="area-work-right">
    <h3 class="area-work-h3">Сельскохозяйственная техника</h3>
    <p class="color-p">Комбайны, тракторы</p>
    <p class="area-work-p">RSМ, Claas, Deutz-Fahr, Fendt, New Holland, Massey Ferguson, John Deere, Belarus, Case, Caterpillar, Challenger, Lamborghini</p>
    <h3 class="area-work-h3">Специальная техника</h3>
    <p class="color-p">Экскаваторы, катки, трубоукладчики, асфальтоукладчики, погрузчики, бульдозеры, автогрейдеры</p>
    <p class="area-work-p">VOLVO, John Deere, Case, Cat, Komatsu, Hitachi, Hyundai, JCB, Bobcat, Doosan, Kato, Kubota, Liebherr, Tadano, Terex, XCMG</p>
    <h3 class="area-work-h3">Яхты и катера c двигателями</h3>
    <p class="area-work-p">Honda, Johnson, Mariner, Mercury, Volvo Penta, Yanmar, Suzuki, Yamaha, Kawasaki, Sea-Doo, Crusader, Kohler, Cummins</p>
    <h3 class="area-work-h3">Промышленные дизельные двигатели, дизельные генераторы и установки</h3>
    <p class="area-work-p">Perkins, FPT, DPS, Deutz, AGCO, MAN, John Deere Systems, Cummins, Caterpillar, Detroit, Doosan, Isuzu, Kohler, Kubota, Liebherr, Mercedes-Benz, Scania, Yanmar, Atlas Copco</p>
  </div>
</div>
<picture>
  <source class="area-work-img" srcset="/assets/img/area-of-work-mobile.jpg" media="(max-width: 767px)">
  <source srcset="/assets/img/area-of-work.jpg">
  <img class="area-work-img" src="/assets/img/area-of-work.jpg" width="100%" alt="Picture">
</picture>

